@model prestamolibrosnet.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar el Préstamo?</h3>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Fecha Realizado</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaRealizado)
        </dd>
        <dt>
            <label>Fecha Devolución</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaDevolucion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
