@model prestamolibrosnet.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Libro</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.libro.titulo)
        </dd>
        <dt>
            <label>Categoría</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.libro.categoria)
        </dd>
        <dt>
            <label>Fecha de Préstamo</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaRealizado)
        </dd>
        <dt>
            <label>Fecha de Devolución</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaDevolucion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
