@model IEnumerable<prestamolibrosnet.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h2>Préstamos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                <label>Libro</label>
            </th>
            <th>
                <label>Fecha Realizado</label>
            </th>
            <th>
                <label>Fecha Devolución</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.libro.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRealizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaDevolucion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
