@model prestamolibrosnet.Models.Calificacion

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar la Calificación?</h3>
<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Evaluación</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evaluacion)
        </dd>
        <dt>
            <label>Observación</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
