@model prestamolibrosnet.Models.Calificacion

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la Calificación</h2>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Evaluación</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evaluacion)
        </dd>
        <dt>
            <label>Observaciones</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
