@model IEnumerable<prestamolibrosnet.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Mis Calificaciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Evaluación</label>
            </th>
            <th>
                <label>Observaciones</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.evaluacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> 
            </td>
        </tr>
}
    </tbody>
</table>
