@model prestamolibrosnet.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar la Categoría?</h3>
<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
