@{
    ViewData["Title"] = "Home Page";
}

<div>


    <a href="@Url.Action("Index", "Libroes")" style="font-size:5vw;"> <h1> . Libros Disponibles</h1> </a>
    <a href="@Url.Action("Index", "Libroes")" style="font-size:5vw;"> <h1> . Mis Libros</h1> </a>
    <a href="@Url.Action("Index", "Prestamoes")" style="font-size:5vw;"> <h1> . Mis Préstamos</h1> </a>
    <a href="@Url.Action("Index", "Calificacions")" style="font-size:5vw;"> <h1> . Mis Calificaciones</h1> </a>
</div>